.secondary-banner {
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-grey {
  background-color: #F3F4F8;
}

.secondary-banner h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  position: relative;
  margin-bottom: 40px;
  color: rgb(61, 67, 81);
}

.secondary-banner h2::after {
  content: "";
  position: absolute;
  background: rgb(243, 156, 18);
  width: 100px;
  height: 1px;
  bottom: -10px;
}

#about h2::after {
  left: 50%;
  transform: translateX(-50%);
}

#innovation h2::after {
  left: 0;
}

.secondary-banner p {
  font-size: 15px;
  line-height: 28px;
  color: rgba(28, 54, 83, 0.6);
}

