.secondary-banner {
  min-height: calc(100vh - 50px);
  padding: 35px 0;
}

.bg-grey {
  background-color: #F3F4F8;
}

/* General typography secondary banner */
.secondary-banner h2 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  position: relative;
  margin-bottom: 35px;
}

.secondary-banner h2::after {
  content: "";
  position: absolute;
  background: #f39c12;
  width: 100px;
  height: 1px;
  bottom: -10px;
}

.secondary-banner p {
  font-size: 15px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 10px;
}

.secondary-banner .button {
  margin-top: 12px;
}

/* Specific typography ABOUT banner */
#about {
  display: flex;
  align-items: center;
  justify-content: center;
}

#about h2 {
  color: rgba(0, 0, 0, 0.6);
;
}

#about h2::after {
  left: 50%;
  transform: translateX(-50%);
}

#about p {
  color: rgba(0, 0, 0, 0.6);
}


/* Specific typography SIMPLICITY banner */
#simplicity {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FF3E70;

}

#simplicity h2 {
  color: #ffffff;
}

#simplicity h2::after {
  left: 0;
  content: "";
  position: absolute;
  background: #f39c12;
  width: 100px;
  height: 1px;
  bottom: -10px;
}

#simplicity p {
  color: #ffffff;
}


/* Specific typography INNOVATION banner */
#innovation {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  /*background: linear-gradient(to right, #FF3E70 , #BB377D)*/;
}

#innovation h2 {
  color: rgba(0, 0, 0, 0.6) ;
}

#innovation h2::after {
  left: 0;
      background: #f39c12;

}

#innovation p {
  color: rgba(0, 0, 0, 0.6);
}


/* Specific typography TECHNOLOGY banner */
#technology {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f39c12;
}

#technology h2 {
  color: #F9F9F9;
}

#technology h2::after {
  left: 50%;
  transform: translateX(-50%);
  content: "";
  position: absolute;
  background: #f39c12;
  width: 100px;
  height: 1px;
  bottom: -10px;
}

#technology p {
  color: #ffffff;
}

/* Specific typography FEATURES banner */
#features {
  display: flex;
  align-items: center;
  justify-content: center;
}

#features h2 {
  color: rgb(61, 67, 81);
}

#features h2::after {
  left: 50%;
  transform: translateX(-50%);
  background: #FF3E70;
}

#features p {
  color: rgba(28, 54, 83, 0.6);
}

/* Specific typography TEAM banner */
#team {

}

#team h2 {
  color: #F9F9F9;
}

#team h2::after {
  left: 50%;
  transform: translateX(-50%);
}

#team h4 {
  color: #F9F9F9;
}

#team p {
  color: rgba(220, 220, 220, 0.8);
}

#team .team-container {
  height: ;
}

/* Specific typography SIGNUP banner */
#signup {
  display: flex;
  align-items: center;
  justify-content: center;
}

#signup h2 {
  color: rgb(61, 67, 81);
}

#signup h2::after {
  left: 50%;
  transform: translateX(-50%);
  background: #FF3E70;
}

#signup p {
  color: rgba(28, 54, 83, 0.6);
}

/* Images */
#simplicity img {
  height: 300px;
  padding: 30px 0;
}

#innovation img {
  width: 80%;
  padding: 30px 0;
}

#technology img {
  height: 250px;
  padding: 30px 0;
}

#features img {
  height: 300px;
}

/* Background images */
#simplicity {
  background-image: url('../../images/backgrounds/hero.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: local;
}

#technology {
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('../../images/backgrounds/tech-banner.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: local;
}

#team {
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('../../images/backgrounds/team-banner.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: local;
}

