.secondary-banner {
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-grey {
  background-color: #F3F4F8;
}

.secondary-banner h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  position: relative;
  margin-bottom: 40px;
  color: rgb(61, 67, 81);
}

.secondary-banner h2::after {
  content: "";
  position: absolute;
  background: #FF3E70;
  width: 100px;
  height: 1px;
  bottom: -10px;
}

#about h2::after {
  left: 50%;
  transform: translateX(-50%);
}

#innovation h2::after {
  left: 0;
}

#simplicity h2::after {
  left: 0;
}

.secondary-banner p {
  font-size: 15px;
  line-height: 28px;
  color: rgba(28, 54, 83, 0.6);
}

#innovation img#duo {
  height: 450px;
  padding: 30px 0;
}

#simplicity img {
  height: 450px;
  padding: 30px 0;
}

#technology {
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('/images/backgrounds/tech-banner.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#technology img {
  height: 250px;
  padding: 30px 0;
}
