.feature {
  display: flex;
  align-items: center;
  border-bottom: solid 1px #E6E9EA;
  padding: 20px 0;
}

.feature:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.feature-text {
  padding-left: 20px;
}

.feature-text h4 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
}

.feature-text p {
  margin-bottom: 0;
}

.feature-header {
  /* need hack to make iphone align vertically, prob flexbox column with grow on iphone */
}

#innovation span {
  font-size: 35px;
  color: #FF3E70;
}
