footer {
  height: 90px;
  z-index: 3;
  width: 100vw;
  background-color: #3D4351;
  color: #F9F9F9;
  display: flex;
  align-items: center;
}

footer a {
  color: #F9F9F9;
  transition: color 0.3 ease;
}

footer a:hover {
  color: #BFC4C7;
}
