footer {
  height: 90px;
  z-index: 3;
  width: 100vw;
  background-color: #3D4351;
  color: #F9F9F9;
}

.footer-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer a {
  color: #F9F9F9;
  transition: color 0.3 ease;
}

footer a:hover {
  color: #BFC4C7;
}
