body {
  font-family: "Open Sans", "Helvetica", "sans-serif"
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", "Helvetica", "sans-serif"
}

/* Links in the feature section */
a p {
  transition: all 0.3s ease;
  margin-bottom: 30px !important;
}

a:hover {
  text-decoration: none;
}

a:hover p {
  color: black !important;
}
